[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
apollon = "*"
mayavi = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
